{% layout 'layout.liquid' %}
{% block content %}
<h1 class="display-4">Welcome to the Fruit App</h1>
    <div class="btn-group btn-group-lg">
        <a href="/user/signup" class="btn btn-dark">Sign Up</a>
        <a href="/user/login" class="btn btn-dark">Login</a>

    </div>
{% endblock %}